쪽지 목록
<br>
<a href="{% url 'home' %}">홈으로</a>
<br><br>

<a href="/create?sender_id=-1">쪽지 보내기</a>
<br><br><br>

받은 쪽지들 <br>
{% for dm in dms %}
    {% if not dm.read %}
    <a href="{% url 'detail' dm.id %}" style="color: red;">
        {{dm.sender.username}} : {{dm.content}}
    </a> <br>
    {% else %}
    <a href="{% url 'detail' dm.id %}">
        {{dm.sender.username}} : {{dm.content}}
    </a> <br>
    {% endif %}
{% endfor %}

<br><br>
보낸 쪽지들 <br>
{% for dm in send_dms %}
<a href="{% url 'detail' dm.id %}">
    {{dm.receiver.username}} 님에게: {{dm.content}}
</a> <br>
{% endfor %}